# Compilados de Java
*.class

# Archivos de logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db
# Archivos generados por IDEs
/.idea/
/*.iml
/.vscode/
/*.ipr
/.classpath
/.project
/.settings/

# Librerías externas (si usás libs externas en lib/)
lib/

# Archivos sensibles o claves
key.aes
salt.bin
*.keystore
password.dat
*.dat
*.aes

# Build tools
/target/
/bin/
/build/

